@import "../../../../app/styles/_colors.scss";

.playerDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  background: $white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mainStatistic {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gamesContainer {
  margin-top: 20px;
  border-radius: 8px;
  background: white;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
